<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
      {{#each fish}}
      <h4>Fish Name: {{name}}</h4>
      <p>Fish ID: {{_id}}</p>
      <p>Fish Type: {{type}}</p>
      <p>Fish Color: {{color}}</p>
      <p>Fish Size: {{size}}</p>
      <br>
      {{/each}}
    </div>
  </div>
</div>